<div class="fixed inset-0 flex ml-[4vw] items-center justify-center overflow-hidden">
  <div
    @fadescale
    class="
      w-[320px]
      py-8
      bg-white
      text-center
      rounded-lg
      shadow-lg
      overflow-hidden
    "
  >
    <div class="flex animate-pulse flex-col items-center">
      <lucide-icon
        name="loader-circle"
        class="animate-spin w-20 h-20 text-violet-600"
      ></lucide-icon>

      <h2 class="font-bold text-[1.5rem] py-4">
        Carregando...
      </h2>
    </div>
  </div>
</div>
