@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-play;
}



.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus,
.search-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important; 
  transition: background-color 9999s ease-in-out 0s;
}

